@media screen and (min-width: 600px) {
  nav ul {
    display: flex;
    justify-content: center;
  }

  nav li {
    width: 120px;
    border-bottom: none;
    line-height: 50px;
  }

  header {
    height: 150px;
  }

  nav li {
    display: inline-block;
    margin-right: -4px;
  }

  .hamburger {
    display: none;
  }

  .nav-menu li {
    display: contents;
    display: inline-block;
  }

  .nav-menu.display-menu li {
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .services > div > h3 {
    text-align: center;
  }
}
